/* Header navbar */
.navbar-default {
    background-color: #f1bda5;
    border-color: #e0ab7a;
}

/* Navbar section Store */
.navbar-default .navbar-brand {
    color: #fdfdfd;
}

/* Navbar section Store */
.navbar-default .navbar-brand:hover {
    color: #424242;
}

 /* Navbar section options */
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #424242;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 25px;
    line-height: 20px;
}

/* Body */
body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

/* Colors */
.color-red{
    color: #e82c2c;
}

.color-blue{
    color: #4196de;
}

/* Swwetalert */
.swal-title:not(:first-child) {
    padding-bottom: 50px!important;
}

.swal-footer {
    text-align: center!important;
}